#checkbox-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr); 
  gap: 5px;
}

form {
  width: 70%
}

input {
  background-color: rgba(13, 13, 13);
  border-radius: 4px;
  padding: 8px;
  color: rgb(97, 97, 97);
  border: 1px solid;
  border: 1px solid rgb(72, 72, 72);
  width: 100%;
  max-width: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

select {
  background-color: rgba(13, 13, 13);
  border-radius: 4px;
  padding: 8px;
  color: rgb(97, 97, 97);
  border: 1px solid;
  border: 1px solid rgb(72, 72, 72);
  width: 100%;
  max-width: 100%;
}
@media (max-width: 768px) {
  form {
    width: 90%;  /* Adjusts form width for smaller devices */
  }
}

.edit-profile-form  * {
  padding: 10px;
}