#checkbox-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr); 
  gap: 5px;
}

form {
  width: 70%
}

#birthDate, #profilePicture {
  background-color: white;
  border-radius: 4px;
  padding: 8px;
  color: rgb(131,131,131);
  border: 1px solid rgba(206,206,206,1);
  width: 100%;
  max-width: 100%;
  appearance: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

#currentSchool, #programType, #technical, #hasIdea {
  background-color: white;
  border-radius: 4px;
  padding: 8px;
  color: rgb(131,131,131);
  border: 1px solid rgba(206,206,206,1);
  width: 100%;
  max-width: 100%;
}

@media (max-width: 768px) {
  form {
    width: 90%;  /* Adjusts form width for smaller devices */
  }
}