html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.fixed-background {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; 
  background-image: url('../images/background.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.scrollable-content {
  position: relative;
  z-index: 1;  /* Ensure it's above the background */
  padding-top: 60px;  /* Optional: Adjust for navbar height */
}
