
.app-container {
  margin: 20px;
  font-family: Arial;
  background-color: rgba(0, 255, 255, 0.605);
  height: 500px;
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

.message-item {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 60%;
}


.my-message {
  color: white; 
  background-color: #4CAF50; 
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: right;
}

.other-message {
  color: white; 
  background-color: #a00c0c; 
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: left;
}


.send-message-form {
  display: flex;
  margin-top: 20px;
}

.send-message-input {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
}

.send-message-button {
  padding: 10px 20px;
}


